<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'pagination_app/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>Ajax Leads</title>
</head>

<body>
    <div class="container">
        <h1>Ajax Pagination</h1>
        <div id="form" class=row>
            <form id="create_user_ajax_form" class="ajax_form" action='/demo_app/create' method="post">
                {% csrf_token %}
                Lead Name: <input id="ajax_lead_name" type="text" name="lead_name">
                From Date: <input id="ajax_from_date" type="date" name="from_date">
                To Date: <input id="ajax_to_date" type="date" name="to_date">
            </form>
        </div>

        <div id="pagination" class="row">
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    {% for num in users.paginator.page_range %}
                    {% if users.number == num %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{num}}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                    {% endif %}
                    {% endfor %}

                </ul>
            </nav>
        </div>

        <div id="results" class="row">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Lead ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Registered Date</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.created_at|date:'Y-m-d'}}</td>
                        <td>{{user.email_address}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $('#ajax_lead_name').keyup(function () {
            $.ajax({
                url: '/find',
                method: 'post',
                data: $(this).parent().serialize(),
                success: function (serverResponse) {
                    console.log('Success!', serverResponse)
                    $('#results').html(serverResponse)
                }
            })
        });

        //Update based on keyboard controls for the date fields
        $('#ajax_from_date').keyup(function () {
            $.ajax({
                url: '/date',
                method: 'post',
                data: $(this).parent().serialize(),
                success: function (serverResponse) {
                    console.log('Success!', serverResponse)
                    $('#results').html(serverResponse)
                }
            })
        });
        $('#ajax_to_date').keyup(function () {
            $.ajax({
                url: '/date',
                method: 'post',
                data: $(this).parent().serialize(),
                success: function (serverResponse) {
                    console.log('Success!', serverResponse)
                    $('#results').html(serverResponse)
                }
            })
        });

        //Update based on mouse controls for the date fields
        $('#ajax_from_date').change(function () {
            $.ajax({
                url: '/date',
                method: 'post',
                data: $(this).parent().serialize(),
                success: function (serverResponse) {
                    console.log('Success!', serverResponse)
                    $('#results').html(serverResponse)
                }
            })
        });
        $('#ajax_to_date').change(function () {
            $.ajax({
                url: '/date',
                method: 'post',
                data: $(this).parent().serialize(),
                success: function (serverResponse) {
                    console.log('Success!', serverResponse)
                    $('#results').html(serverResponse)
                }
            })
        });
    </script>

</body>

</html>